.top_section{
    background: rgb(36, 47, 55);
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu_apps{
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0px;
    margin-right: 20px;
}
ul, li { 
    margin: 20px;
    list-style: none;
}
.stats_auth { 
    display: contents;
}
.menu_estadisticas{ 
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
.pre_list{ 
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
.boton{ 
    background-color: transparent;
    border: medium none;
    cursor: pointer;
    height: 25px;
    border-radius: 4px;
    width: auto;
    text-align: center;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    margin-right: 15px;
    font-family: Heebo-Regular, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
}
.post_list{ 
    display: flex;
    -moz-box-align: center;
    align-items: center;
    height: 30px;
    min-width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    padding: 0px 43px;
}
.flex2{
    position: relative;
    top: 0px;
    width: auto;
    margin-top: 30px;
    padding: 27px 45px;
}
.submenu{
    display: block;
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgb(36, 47, 55);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
    z-index: 5;
}
.list_container{
    width: 1024px;
    max-width: 100%;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0px 15px;
    position: relative;
}
.items_lists > a{ 
    display: flex;
    -moz-box-align: center;
    align-items: center;
    text-decoration: none;
}
.items_lists{ 
    display: flex;
}
.title_container{ 
    display: flex;
    margin: 0px auto;
    width: 800px;
    flex-direction: column;
    padding-top: 1.5rem;
}
.titulo_noticia{ 
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0px;
    font-family: NotoSansDisplay-Bold, Arial Black, sans-serif;
    color: rgb(36, 47, 55); 
}
.inicial{ 
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    font-family: NotoSansDisplay-Regular, Arial, sans-serif;
    padding: 0px 0px 1rem;
    font-size: 20px;
    color: rgb(36, 47, 55);
}
.textos{ 
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    font-family: NotoSansDisplay-Regular, Arial, sans-serif;
    padding: 0px 0px 1rem;
    font-size: 20px;
    color: rgb(36, 47, 55);
}
.main{ 
    display: flex;
    margin: 0px auto;
    width: 800px;
    flex-direction: column;
    padding-top: 1.5rem;
}
.subscribirme{ 
    cursor: pointer;
    height: 25px;
    border-radius: 4px;
    width: 161px;
    text-align: center;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    margin-right: 15px;
    font-family: Heebo-Regular, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    background-color: rgb(255, 118, 18);
    color: rgb(254, 254, 254);
    text-decoration: none;
}
.team{
    display: flex;
    position: absolute;
    left: 6.5rem;
    align-items: center;
}
.header{
    color: rgb(254, 254, 254);
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
}
.estadisticas_calendario{
    font-family: Heebo-Regular, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}